.icon-tables { background-image: url(../../../images/table_multiple.png); }
.edit_calculation a[data-expands] > .toggle-multiselect{
  display: unset;
}
.spreadsheet.box {
  overflow-x: auto;
}
.controller-spreadsheets #sidebar h3 {
  font-weight:bold;
}
.table-object {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  overflow: hidden;
}
.table-object:not(:first-of-type) {
  padding-top: 1rem;
}

table.enumeration-badge {
  width: 80px;
  margin-top: 3px;
  margin-right: 5px;
  float: left;
  empty-cells: show;
  border: 0 none;
}

table.enumeration-badge td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

table.enumeration-badge td {
  height: 16px;
  padding: 0;
  border: 0 none;
}

table.list.config-tables th.name,
table.list.config-calculations th.name,
table.list.spreadsheets th.name {
  text-align: left;
}
