.icon-tables { background-image: url(../../../images/table_multiple.png); }
.edit_calculation a[data-expands] > .toggle-multiselect{
  display: unset;
}
.spreadsheet.box {
  background-color: white;
}